@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
  background-color: #c3b1e6;
  padding-top: 1%;
  padding-right: 1%;
}

.App-header {
  background-color: #c3b1e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c3b1e6;
}

.App-link {
  color: #c3b1e6;
}

.navbar { 
  background-color: #edf7fd; 
  overflow: hidden; 
  border-radius: 1000px / 1000px;
  width: 85%;
  place-self: center;
  height: fit-content;
} 

.tab-list {
  border-bottom: 1px solid#edf7fd;
  place-self: center;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background-color: #edf7fd;
  font-family: 'Montserrat';
  font-size: calc(10px + 2vmin);
  font-weight: 1000;
  font-display: bold;
}

.tab-list-active {
  background-color: #59a0bc;
  border: solid #59a0bc;
  border-width: 1px 1px 0 1px;
  border-radius: 100px / 100px; 
}

.logo{
  float: left;
  height: fit-content;
  width: fit-content;
}